#main {
  font-size: 22px;
  
}

* {
    font-family: monospace;
    font-size: 20px;
}
@keyframes fade {
  0%,100% { opacity: 1 }
  50% { opacity: 0 }
}
#caret {
    height 1em;
    width 1em;
    background: #aaa;
}

.line {
  position: relative;
  min-height: 1.3em;
  min-width: 1em;
}